# Better Auth
BETTER_AUTH_SECRET="openssl rand -base64 32"

# Google Auth (required)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# OpenAI (https://platform.openai.com/api-keys)
OPENAI_API_KEY=
OPENAI_MODEL=gpt-5-nano

# Mem0 (https://app.mem0.ai/dashboard/api-keys)
MEM0_API_KEY=

# Trigger.dev (https://cloud.trigger.dev)
TRIGGER_SECRET_KEY=
